<div class="jumbotron border border-3 bg-dark bg-gradient text-bg-dark p-3 rounded-5">
    <h1 class="display-4 ">Bem-vindo ao blog do Node</h1>
    <p class="lead"> Notícias e entreterimento!</p>
    <hr class="my-4">
    <p>O melhor Blog do Brasil</p>
    <p class="lead">  
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href=""><button class="btn btn-primary" type="button">Crie uma conta</button></a>
</div>   
</div>



<h2 class="text-center mt-5">Página de postagens</h2>