<div class="card border border-5 ">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Categoria: {{postagem.categoria}}</small>
        <br>
        <small>Data de publicação: {{postagem.data}}</small>
        <br><hr>
        {{postagem.conteudo}}
    </div>
</div>